.site-skintools {
    position: fixed;
    top: 100px;
    right: -270px;
    z-index: 1300;
    width: 270px;
    color: #757575;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.site-skintools.is-open {
    right: 0;
}

.site-skintools .site-skintools-inner {
    height: 100%;
}

.site-skintools .site-skintools-toggle {
    position: absolute;
    top: 0;
    left: -30px;
    padding: 10px 8px;
    padding: 10px 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    border-color: rgba(0, 0, 0, .09);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
}

.site-skintools .site-skintools-content {
    height: 100%;
    min-height: 100px;
    padding: 5px 20px 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 0 3px 3px;
}

.site-skintools .site-skintools-content input {
    display: none;
}

.site-skintools .site-skintools-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.site-skintools .nav-tabs-line > li > a {
    padding: 10px;
}

.site-skintools .nav-tabs-horizontal {
    height: 100%;
}

.site-skintools .tab-content {
    height: -webkit-calc(100% - 45px);
    height: calc(100% - 45px);
}

.site-skintools .radio-custom.radio-dark label::before {
    border-color: #424242;
}

.site-skintools .radio-custom.radio-dark label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-dark input[type="radio"]:checked + label::before {
    border-color: #424242;
}

.site-skintools .radio-custom.radio-primary label::before {
    border-color: #283593;
}

.site-skintools .radio-custom.radio-primary label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-primary input[type="radio"]:checked + label::before {
    border-color: #283593;
}

.site-skintools .radio-custom.radio-blue label::before {
    border-color: #1565c0;
}

.site-skintools .radio-custom.radio-blue label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-blue input[type="radio"]:checked + label::before {
    border-color: #1565c0;
}

.site-skintools .radio-custom.radio-brown label::before {
    border-color: #4e342e;
}

.site-skintools .radio-custom.radio-brown label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-brown input[type="radio"]:checked + label::before {
    border-color: #4e342e;
}

.site-skintools .radio-custom.radio-cyan label::before {
    border-color: #00838f;
}

.site-skintools .radio-custom.radio-cyan label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-cyan input[type="radio"]:checked + label::before {
    border-color: #00838f;
}

.site-skintools .radio-custom.radio-green label::before {
    border-color: #2e7d32;
}

.site-skintools .radio-custom.radio-green label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-green input[type="radio"]:checked + label::before {
    border-color: #2e7d32;
}

.site-skintools .radio-custom.radio-grey label::before {
    border-color: #424242;
}

.site-skintools .radio-custom.radio-grey label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-grey input[type="radio"]:checked + label::before {
    border-color: #424242;
}

.site-skintools .radio-custom.radio-orange label::before {
    border-color: #ef6c00;
}

.site-skintools .radio-custom.radio-orange label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-orange input[type="radio"]:checked + label::before {
    border-color: #ef6c00;
}

.site-skintools .radio-custom.radio-pink label::before {
    border-color: #ad1457;
}

.site-skintools .radio-custom.radio-pink label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-pink input[type="radio"]:checked + label::before {
    border-color: #ad1457;
}

.site-skintools .radio-custom.radio-purple label::before {
    border-color: #6a1b9a;
}

.site-skintools .radio-custom.radio-purple label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-purple input[type="radio"]:checked + label::before {
    border-color: #6a1b9a;
}

.site-skintools .radio-custom.radio-red label::before {
    border-color: #c62828;
}

.site-skintools .radio-custom.radio-red label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-red input[type="radio"]:checked + label::before {
    border-color: #c62828;
}

.site-skintools .radio-custom.radio-teal label::before {
    border-color: #00695c;
}

.site-skintools .radio-custom.radio-teal label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-teal input[type="radio"]:checked + label::before {
    border-color: #00695c;
}

.site-skintools .radio-custom.radio-yellow label::before {
    border-color: #f9a825;
}

.site-skintools .radio-custom.radio-yellow label::after {
    border-color: #fff;
}

.site-skintools .radio-custom.radio-yellow input[type="radio"]:checked + label::before {
    border-color: #f9a825;
}