@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.menu-link
		font-size: 11px!important
	.gk_content_second
		flex: 1 1 calc(17.33% - 20px)!important
	.gk_content .gk_content_large .gk_main_bg
		width: 600px
	.gk_content .gk_content_large .gk_content_second .gk_second_bg
		height: 180px!important
	.gk_content .gk_content_large .gk_content_first
		width: 600px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.gk_content .gk_content_large .gk_content_second .gk_img
		margin: 0
		border-top: 1px solid #fff!important
	.gk_content_first
		width: 100%!important
	.gk_content .gk_content_large .gk_content_first img
		width: 100%
	.gk_grid_massonry
		column-count: 1
	// .gk_content .gk_content_large .gk_content_second .gk_img .gk_content_text h2
	// 	font-size: 0.9rem!important
	.gk_content .gk_content_large .gk_main_bg
		width: 480px
	.gk_content .gk_content_large .gk_content_second
		flex-direction: column
	.gk_content .gk_content_large .gk_content_second .gk_second_bg
		height: 237px!important
	.gk_burger-menu
		display: flex
	.gk_nav .gk_nav-menu ul
		display: none!important
	.gk_nav .gk_nav-menu
		display: flex
		justify-content: flex-end
		width: 100%
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.gk_grid_massonry .gk_subitem__block
		flex: 1 0 calc(73.33% - 20px)!important
	.gk_top-text
		font-size: 1rem!important
		h1
			span
				font-size: 2.5rem!important
		
	.gk_content .gk_content_large .gk_main_bg
		width: 100%
	.gk_news_article
		flex-direction: column
		.gk_news_img
			width: 100%
			margin-bottom: 15px
	.gk_news_article .gk_news_group_article
		flex-direction: column
	.gk__good_links
		width: 100%!important
		padding: 15px 0!important
	
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
		
	.gk_grid_massonry .gk_subitem__block .gk_subitem__article .gk__article
		flex-direction: column
	.gk_grid_massonry .gk_subitem__block .gk_subitem__article .gk__article img
		margin-bottom: 10px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

@media print
	.gk_top-system-menu, .gk_top-header , .gk_phone, .gk_article__share, .gk__footer, .gk__footer_copyright, .gk_article__aside
		display: none

	.gk_article
		.gk_article__content-icon
			display: none
		.gk_article__share
			display: none