$default-font: "Open Sans", sans-serif
$accent: #0098DA  
$white: #fff
$system-color: #3b3b3b
$color: $accent
$alpha: .9
$body: #EDEEF0
$border-custom: #eaeaea
$param: #333
$padding_art: 30px
$visited: #212121
$border: #ddd
$shadow: 5px 5px 3px 0 rgba(0,0,0,.1)

%content_page
    width: 100%
    margin-bottom: 50px
%typo
    line-height: 1.3
    font-size: 24px
    letter-spacing: 0.5px
    font-weight: 300
// a
//     text-decoration: none
// a:visited
//     color: #212121
.read_more
    float: right
    font-size: 14px
    color: $accent!important
    text-decoration: none
    margin-bottom: 10px
    letter-spacing: 0.5px
.gk_date
	display: flex
	align-items: center
	height: 100%
	font-size: 10px
	color: #999
	letter-spacing: 1px
	.fa
		margin-right: 0.5rem
		height: 100%
		font-size: 10px
		color: #999
.gallery_flex
    height: 100%
    .gallery_module
        width: 100%
        height: 100%
        display: flex
        flex-wrap: wrap
        .gallery_img
            width: 222px
            height: 140px
            margin-right: 15px
            margin-top: 15px
            img
                object-fit: cover
                width: 100%
                height: 100%
