@import "vars"

.gk_article
    background-color: $white!important
    padding-top: 3%!important
    padding-bottom: 10%!important
    .gk_article__content-heading
        .gk_article__content-icon
            display: flex
            width: 100%
            justify-content: space-between
            align-items: center
            color: #888
            font-size: 14px
            .gk_article__content_icon_second
                span
                    padding-left: 10px
                    
                    i
                        margin-right: 5px
    .gk_article__content-description
        .gk_article__content-image
            width: 100%
            height: 300px
           
            img
                object-fit: cover
                width: 100%
                height: 100%
        .gk_article__content-param
            p
                line-height: 1.7
                font-size: 14px
                margin: 15px 0

    .gk_article__share
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
        margin-top: 25px
        margin-bottom: 25px
        .gk_article_share_text
            font-size: 14px
        .gk_print
            margin-right: 5px


// Gallery
.gk_gallery_img
    width: 250px
    height: 250px
    
    img
        object-fit: cover
        width: 100%
        height: 100%
        border: 7px solid $body