@import "vars"

.gk_legislation-table
    @extend %content_page
.table
    border-collapse: collapse
    width: 100%
    text-align: left
    td
        border: 1px solid #ddd
        text-align: left
    th, td
        padding: 15px
    th
        background-color: $accent
        color: #fff
    a:visited
        color: #212121
    a:hover
        color: $accent
    
    .gk_pdf
        width: 100px
        text-align: center
    i
        font-size: 24px
        color: $accent