@import "fonts"
@import "libs"
@import "vars"
@import "sidebar"
@import "article"
@import "profile"
@import "legislation"
@import "news"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
iframe
	width: 100%
	height: 300px
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font!important
	overflow-x: hidden
	opacity: 1
	background: url('/img/pattern10.png') repeat
a:hover
	color: lighten($accent, 20%)!important
a:hover
	text-decoration: none!important
a:visited
	text-decoration: none
a
	text-decoration: none
p
	color: $param
	line-height: 1.5
	letter-spacing: 0.3px
.heading_on
	line-height: 1.2
	padding-top: 50px
	padding-bottom: 20px 
	font-size: 3rem
	font-weight: 300

.p_t
	padding: 1.5% 0
.p__t
	padding: 5% 0
.p-0
	padding: 0
.pr-0
	padding-right: 0
.pl-0
	padding-left: 0
.pl-1
	padding-left: 1rem
.pl-2
	padding-left: 2rem
.pl-3
	padding-left: 3rem
.pl-4
	padding-left: 4rem
.pl-5
	padding-left: 5rem
.ml-0
	margin-left: 0.5rem
.ml-1
	margin-left: 1rem
.ml-2
	margin-left: 2rem
.ml-3
	margin-left: 3rem
.ml-4
	margin-left: 4rem
.ml-5
	margin-left: 5rem
.mr-1
	margin-right: 1rem
.mr-2
	margin-right: 2rem
.mr-3
	margin-right: 3rem
.mr-4
	margin-right: 4rem
.mr-5
	margin-right: 5rem
.f_right
	float: right
.f_left
	float: left
.h0
	margin: 0
	margin-bottom: 10px
.gk_pagination
	float: right
	margin-bottom: $padding_art
	ul
		display: flex
		align-items: center
		margin: 0
		padding: 0
		list-style: none
		height: 100%
		li
			padding-right: 10px
			height: 100%
			a
				display: block
				border: 1px solid $border
				padding: 7px 16px
				border-radius: 3px
				color: $accent
			a:hover
				background-color: $accent
				color: #fff!important
				border-color: transparent
.gk_link_menu-custom
	color: #777
	font-size: 14px
	i
		padding: 0 10px
	a
		text-decoration: none
		font-size: 14px
		color: $accent
.img-responsive
	display: block
	max-width: 100%
	height: auto
.gk_wrapper_site
	.gk_top-system-menu
		width: 100%
		height: 40px
		background-color: $system-color
		.container, .row
			height: 100%
		.gk_top_flags
			margin: 0
			padding: 0
			list-style: none
			display: flex
			justify-content: flex-end
			align-items: center
			width: 100%
			height: 100%
			.gk_top_flags-li
				padding-left: 15px
				display: flex
				align-items: center
				cursor: pointer
				.gk_top_flags-link
					text-decoration: none
					color: $white
					font-size: 11px
					display: flex
					align-items: center
					justify-content: center
					margin-left: 2px
					margin-bottom: 2px
			.gk_top_flags-li:hover .gk_top_flags-link
				color: #ddd
	.gk_top-header
		background: url("/img/top_wave.png") no-repeat center
		background-size: cover
		padding-top: 2%
		.gk_top-item
			display: flex
			align-items: center
			.gk_top-logo
				width: 120px
				margin-right: 1.3rem
			.gk_top-text
				font-size: 1.5vw
				line-height: 1
				color: darken($accent, 15%)
				text-transform: uppercase
				h1
					font-weight: 300
				
.gk_top-item-2
	display: flex
	justify-content: flex-end
	flex-direction: column
	flex-wrap: wrap
	width: 100%
	.gk_top_sprite-ul
		display: flex
		justify-content: flex-end
		align-items: center
		flex-wrap: wrap
		cursor: pointer
		width: 100%
		list-style: none
		li
			margin-left: 10px
			display: inline-block
			width: 40px
			height: 40px
			overflow: hidden
			@extend %social
			a
				text-decoration: none
				color: #fff
				display: block
				width: 100%
				height: 100%
				padding: 50% 0
		%social
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			color: #fff
			padding: 0px 12px
			font-size: 1.5rem
		li:nth-child(1)
			background-color: #4d6fa9
			@extend %social
		li:nth-child(1):hover
			background-color: darken(#4d6fa9, 15%)
		li:nth-child(2)
			background-color: #F11E51
			@extend %social
		li:nth-child(2):hover
			background-color: darken(#F11E51, 15%)
		li:nth-child(3) 
			background-color: #50abf1
			@extend %social
		li:nth-child(3):hover
			background-color: darken(#50abf1, 15%)
	.gk_top_search
		display: flex
		justify-content: flex-end
		input
			border: 1px solid #eee
			width: 250px
			height: 35px
			outline: none
			padding-left: 10px
		input::placeholder
			font-size: 14px
			color: #888
			letter-spacing: 0.5px
		.search_sub
			border: none
			background-color: $accent
			color: #fff
			width: 35px
			height: 100%
			outline: none
		.search_sub:hover
			background-color: darken($accent, 15%)
.gk_burger-menu
	height: 100%
	display: flex
	justify-content: flex-end
	align-items: center
	background-color: #E53935
	color: #fff
	padding: 0 25px
	cursor: pointer
	display: none
	position: absolute
	right: 0
.gk_nav
	background-color: darken($accent, 5%)
	margin-top: 3%
	.gk_nav-menu
		width: 100%
		position: relative
		height: 45px
		.gk_submenu
			box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3)
			display: none
			background-color: #fff
			height: auto
			position: absolute
			width: 100%
			text-align: left
			max-width: 300px
			z-index: 9999
			border-right: 1px solid #ddd
			border-left: 1px solid #ddd
			.gk_submenu-li
				background-color: #fff
				border: none
				height: 50px
				max-width: 300px
				
				.gk_submenu-link
					color: #333
					padding-right: 25px
					padding-left: 15px
					max-width: 300px
					display: flex
					justify-content: flex-start
					align-items: center
					font-size: 14px
				
					display: flex
					align-items: center
					text-decoration: none
					height: 100%
					border-bottom: 1px solid darken($white, 4%)
					cursor: pointer

				.gk_submenu-link:hover
					background-color: $accent
					color: #fff!important

		ul
			display: flex
			list-style: none
			margin: 0
			padding: 0
			width: 100%
			height: 100%
			align-items: center
			.gk_nav_menu-li
				border-right: 1px solid darken($accent, 5%)
				height: 100%
				text-align: center
				.menu-link
					color: $white
					display: flex
					justify-content: center
					align-items: center
					text-decoration: none
					width: 100%
					padding: 0 25px
					height: 100%
					font-size: 13.5px
					cursor: pointer
					.fa
						
						font-size: 15px
				.menu-link:hover
					color: #fff!important
					background-color: darken($accent, 10%)

			.live
				background-color: #E53935
				.menu-link:hover
					background-color: darken( #E53935, 10%)
					color: #fff
			.gk_nav_menu-li:first-child
				border-left: 1px solid darken($accent, 5%)

			.gk_nav_menu-li:hover .gk_submenu
				display: block
	.gk_nav-menu .gk_submenu-li:hover, .menu-link:hover, .gk_nav-menu .gk_nav_menu-li:hover
		background-color: darken($accent, 10%)

// Phone menu
.gk_phone
	background-color: #fff
.gk_nav-phone
	display: none
	width: 100%
	height: max-content
	
	.gk_nav__phone-ul
		list-style: none
		background-color: $accent
		margin: 0
		padding: 0
		width: 100%
		height: 100%
		.gk_nav__phone_ul-li
			width: 100%
			height: auto
			border-bottom: 1px solid darken($accent, 3%)
			a
				text-decoration: none
				color: #fff
				display: block
				width: 100%
				height: auto
				padding: 15px 0
				padding-left: 15px
		.gk_nav__phone_ul-li:hover
			background-color: darken($accent, 10%)
			a
				color: #fff!important
		.gk_nav__phone_ul-li:first-child
			border-top: 1px solid darken($accent, 5%)
		.gk_nav__phone_ul-li:hover .phone_submenu
			display: block
.phone_submenu
	margin: 0
	padding: 0
	list-style: none
	width: 100%
	height: 100%
	background-color: darken($accent, 13%)
	display: none
	li
		width: 100%
		height: auto
		border-bottom: 1px solid darken($accent, 15%)
		a.phone_link
			text-decoration: none
			color: #fff
			display: block
			width: 100%
			height: auto
			padding: 15px 0
			padding-left: 30px!important
	li:hover
		background-color: darken($accent, 15%)!important
		a
			color: #fff!important
%gk_img_content
	position: absolute
	bottom: 0
	background-color: rgba(0,0,0,0.1)
	color: #fff
	width: 100%
	transition: all .3s ease
	a
		text-decoration: none
		color: #fff
	h2
		font-size: 2rem
		line-height: 1.2
		font-weight: 300
.gk_default_main
	background: url('/img/pattern10.png') repeat
.gk_content
	
	padding: 1% 0
	.gk_content_Date__heading
		z-index: 999
		align-items: flex-start
		background-color: rgba(0,0,0, .7)
		width: 100%
		padding: 10px 15px
		position: absolute
		bottom: 0
		h2
			margin: 10px 0
			padding-right: 5%

				

	// Модуль новостей

	.gk_content_large
		display: flex
		flex-wrap: wrap
		.gk_main_bg
			width: 700px
			height: 100%
			overflow: hidden
		// Главный блок
		.gk_content_first
			position: relative
			overflow: hidden
			height: 500px
			width: 750px
			overflow: hidden
			img
				transition: all .5s ease
				background-size: cover
				height: 100%
				width: 100%
				object-fit: cover
				position: relative
				
			.gk_content_text
				@extend %gk_img_content
				
		.gk_content_first:hover
			img
				transform: scale(1.1)
		%gk_img
			content: ""	
			width: 100%
			height: 100%
			background-color: rgba($white, .3)
			display: block
			z-index: 1
			position: absolute
			top: 0
			opacity: 0
			transition: all .5s
		.gk_content_first:after
			@extend %gk_img
		.gk_content_first:hover:after
			opacity: 1
		// Второстепенные блоки
		.gk_content_second
			display: flex
			flex-direction: column
			flex: 1 1 calc(33.33% - 20px)
			position: relative
			overflow: hidden
			.gk_content_Date__heading
				margin-bottom: 0
				padding-right: 0
				
			.gk_img
				position: relative
				overflow: hidden
				margin-left: 15px
				margin-bottom: 15px
				height: 242.5px
				width: 100%
				img
					transition: all .5s ease
					object-fit: cover
					width: max-content
					height: 100%
				.gk_content_text
					@extend %gk_img_content
					width: 100%
					h2
						font-size: 1.6rem
						letter-spacing: 0.5px
						font-weight: 300
			.gk_month
				font-size: 12px
				padding: 10px
			.gk_img:last-child
				margin-bottom: 0
			.gk_img:hover
				img
					transform: scale(1.1)
			.gk_img:after
				@extend %gk_img
			.gk_img:hover:after
				opacity: 1

.gk_grid_massonry
	width: 100%
	display: flex
	flex-wrap: wrap
	// column-count: 2
	.gk_subitem__block
		margin: 5px
		background-color: #FFF
		width: 100%
		flex: 1 0 calc(36.33% - 20px)
		display: inline-block
		margin-top: 15px
		box-shadow: $shadow
		.gk_subitem__heading
			background-color: $accent
			padding: 7px 15px
			h4
				color: #fff
				margin: 0
				font-size: 18px
				margin: 0
				font-weight: 400
		.gk_subitem__article
			padding: 25px 15px
			height: 100%
			.gk__article
				display: flex
				position: relative
				border-bottom: 1px solid #f2f2f2
				margin-bottom: 20px
				padding-bottom: 20px
				img
					object-fit: cover
					max-width: 160px
					height: 150px	
					border-radius: 2px

				.gk_subcontent
					width: 100%
					.gk_group_article
						display: flex
						align-items: flex-start
						justify-content: space-between
						a
							text-decoration: none

						a:visited
							color: $accent
						h5
							font-size: 16px
							margin: 0
							font-weight: 600
							line-height: 1.3
							letter-spacing: 0px
							padding-right: 5%
							padding-bottom: 10px
						.gk_subdate
							display: flex
							font-size: 11px
							color: #999
							letter-spacing: 1px
							align-items: center
							margin-top: 2px
							.fa
								margin-right: 0.2rem
							
								
					p
						font-size: 13px
						color: $param
						font-weight: 300
						letter-spacing: 0.5px
						line-height: 1.5
					
			.gk_view__all
				width: 100%
				text-align: right
				a
					color: $accent
					font-size: 15px
					font-weight: 600

	.gk_zakony
		.gk__article
			padding-bottom: 25px
		.gk_date
			float: right
			padding-left: 25px
		.gk_group_article
			display: block!important 
			align-items: center
			justify-content: space-between
			a
				text-decoration: none
			h5
				font-size: 16px!important
				margin: 0
				font-weight: 500!important
				letter-spacing: 0px
				color: $param!important
				line-height: 1.4!important
				width: 100%!important
			h5:hover
				color: $accent!important
.gk_subitem__heading
	display: flex
	width: 100%
	justify-content: space-between
	align-items: center
	span
		color: #fff
.gk_callback
	
	.gk_callback_content
		padding: 25px 15px
		select
			width: 100%
			margin-bottom: 25px
			margin-top: 5px
			outline: none
			padding: 10px 0
			background-color: #fff
			border: 1px solid #eee
			border-radius: 2px
			font-family: $default-font
			color: #555
			padding-left: 5px
			option
				
				font-family: $default-font
				outline: none
				border: none
		.gk_call_info
			font-style: italic
			font-size: 14px
			background-color: #95d4ed
			padding: 15px
			border-radius: 5px
			margin-bottom: 25px

		label
			letter-spacing: 0.5px
			font-weight: 600
			color: #555
			font-size: 14px
		%form_css
			margin-bottom: 15px
			margin-top: 5px
			outline: none
			width: 100%
			padding: 13px 10px
			background-color: lighten($body, 3%)
			border-radius: 2px
			border: 1px solid #eee
		input
			@extend %form_css
		input::placeholder
			font-size: 15px
			color: #999
		input:focus
			border: 1px solid $accent
		textarea
			@extend %form_css
		#file_view
			visibility: hidden
		.upload
			background-color: $accent
			color: $white
			width: 100%
			height: 100%
			border-radius: 5px
			border: none
			position: relative
			top: -55px
		.submit
			text-decoration: none
			border: 1px solid transparent
			padding: 5px 15px
			border-radius: 2px
			background: $accent
			color: #fff
			float: right
			margin-bottom: 25px
			font-weight: 600
			letter-spacing: 0.5px
.gk_link__item
	overflow: hidden
	a
		text-decoration: none
	.gk_link__item_block
		position: relative
		overflow: hidden
		cursor: pointer
		background: url("/img/top_wave.png")
		background-size: cover
		margin: 10px
		.gk_link_Text
			width: 100%
			z-index: 3
			height: 100%
			border: 1px solid #eee
			color: #000
			padding: 25px
			flex-direction: column
			cursor: pointer
			transition: all .3s ease
			display: flex
			align-items: center
			.gk_img_flex_text
				display: flex
				align-items: center
				width: 100%
				.gk_link_banner
					width: 100px
					height: 75px
					margin-right: 15px
					img
						object-fit: cover
						
			.gk_flex_text
				display: flex
				flex-direction: column
				justify-content: flex-start
				width: 100%
				h5
					margin: 0
					font-size: 20px
					line-height: 1.2
					width: 100%
					text-transform: uppercase
					letter-spacing: 0.3px
					font-weight: 300
	.gk_link__item_block:hover
		transform: scale(1.02)
.back
	color: #fff!important
	font-size: 1.5rem
	padding: 5px 15px
	border-radius: 5px
.back:visited
	color: #fff
footer
	.footer_center_links
		display: flex
		flex-wrap: wrap
	.gk_top:before
		content: ""
		width: 100%
		height: 50px
		background: url('/img/pattern10.png')
		
		margin: 0 auto
		margin-bottom: 75px
		display: block
	.gk__footer
		background-color: $white
		height: auto
		.gk_info__footer
			display: flex
			flex-direction: column
			margin-left: 13px
			line-height: 3
			font-size: 14px
			letter-spacing: 0.4px
			font-weight: 300
			color: #333
			.gk_top_social-icon
				.gk_top_sprite-ul
					justify-content: flex-start
					padding-left: 0
					li
						margin-right: 10px
						margin-left: 0
						a
							text-decoration: none
							color: #fff
							display: block
							width: 100%
							height: 100%
							padding: 0
						
		.gk__good_links
		
			h5
				font-weight: 600
				font-size: 1.8rem
				letter-spacing: 0.5px
				margin: 0
				color: $accent
				margin-bottom: 5px
				font-weight: 400
			.gk__good_links-ul
				list-style: none
				padding: 0
				margin: 0

				li
					line-height: 2
					margin-top: 10px
					a
						text-decoration: none
						color: #444
						font-size: 14px
						font-weight: 300
					&:after
						content: ''
						display: block
						width: 300px
						border-bottom: 1px dashed #d2d2d2
.gk__footer_copyright
	background-color: $system-color
	padding: 1% 5%
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
	span, a
		color: #fff
		font-size: 12px
		font-weight: 300
		letter-spacing: 0.3px	
.img_gallery_remodal
	width: 100%
	height: 100%
	object-fit: cover
.theme
	background-color: $accent
	margin: 0!important
	padding: 25px
	border-radius: 5px
	color: $white!important
	font-size: 1.5rem!important
	h6
		font-size: 2rem!important
.beefup__head
	margin: 0!important
	font-weight: 600
	font-size: 16px
	color: $accent

#top
	position: fixed
	bottom: 20px
	right: 20px
	background: rgba(33,150,243,.7)
	width: 50px
	height: 50px
	text-align: center
	cursor: pointer
	border-radius: 5px
	.fa
		position: absolute
		left: 0
		right: 0
		top: 30%
		bottom: 0	
		font-size: 16px
		color: rgba(0,0,0,.5)
#top:hover
	background: $accent	
@import "media" // Всегда в конце
