@import "vars"
@import "media"

.gk_news
    @extend %content_page
.gk_news_article
    display: flex
    margin-bottom: $padding_art
    border-bottom: 1px dashed #ddd
    padding-bottom: $padding_art
    justify-content: space-between
    .gk_news_img
        width: 250px
        height: auto
        img
            object-fit: cover
            width: 100%
            height: 100%
            border-radius: 3px
    .gk_news_group_article
        display: flex
        align-content: flex-start
        justify-content: space-between
        h5
            margin: 0
            @extend %typo
            width: 100%
            padding-right: 15px
            padding-bottom: 15px
        .gk_date
            margin-top: 10px
    p
        color: $param
        font-weight: 300
.gk_news_article:last-child
    border: none