@import "vars"

.gk_profile
    @extend %content_page
    a
        text-decoration: none
    a:visited
        text-decoration: none!important
        color: #212121!important
    .gk_profile-user
        border-radius: 2px 
        border: 1px solid $border-custom
        padding: 15px
        margin-bottom: $padding_art
        .gk_profile-img_name
            display: flex
            flex-wrap: wrap
            width: 100%
            align-content: flex-start
            .gk_profile-user-img
                width: 120px
                height: 200px
                overflow: hidden
                border: 5px solid #f2f2f2
                margin-right: 25px
                img
                    object-fit: cover
                    width: 100%
                    height: 100%
            .gk_profile-user-info
                width: 70%
                h2
                    margin: 0
                    font-size: 20px
                    color: #212121
                    font-weight: 700
                    letter-spacing: .2px
                h2:after
                    margin-top: 10px
                    content: ""
                    display: block
                    width: 95%
                    height: 1px
                    background-color: $border-custom

                p
                    font-size: 14px
                    margin-top: 15px
                    color: #212121
                .gk_info-date
                    span
                        font-size: 14px
                        color: #212121
    .gk_profile-user:hover
        border-color: $accent
.gk_details
    border: none!important
    .gk_top_sprite-ul
        li
            margin-right: 10px
            margin-left: 0!important
    .gk_profile-user-info
        p
            line-height: 1.8
.gk_profile_main-user
    width: 25%
    background-color: $accent
    padding: 5px 10px
    color: $white
    position: relative
    right: -75%
    top: 45px
    margin-bottom: 30px
    font-size: 18px
    letter-spacing: 0.3px