@import "vars"
.gk_main_user
    a
        text-decoration: none
    a:visited
        color: #212121
    .gk_main_status
       
        h2
            line-height: 1.2
            font-size: 24px
            color: $accent
    .gk_main_user-img
        width: 100%
        height: 200px
        margin-top: 50px
        img
            object-fit: cover
            height: 100%
            width: 100%
    .gk_main_user-name
        text-align: left
        h3
            line-height: 1.1
            font-size: 2.5rem
            font-weight: 300
            width: 100%
            letter-spacing: 0.2px
            margin: 20px 0
            margin-bottom: 25px

.gk_article__aside
    height: auto
    width: 100%
    padding: 0 20px
    position: relative
    background-color: #f0f0f0
    border-bottom: 5px solid $accent
    padding-bottom: 25px
    .gk_article__aside-heading
        width: 100%
        background-color: $accent
        padding: 5px 10px
        color: $white
        position: relative
        right: 25px
        top: 30px
        margin-bottom: 30px
        h3
            font-size: 2rem
            margin: 0
            font-weight: 400
    .gk_article__aside-latest
        border-bottom: 1px dashed darken($border-custom, 15%)
        padding: 20px 0
        a
            text-decoration: none
        a:visited
            color: #212121
        .gk_article__aside_latest-heading
            h4
                font-size: 20px
                line-height: 1.3
                font-weight: 300
                color: darken($accent, 10%)
            h4:hover
                color: $accent
        .gk_article__aside_latest-desc
            p
                font-size: 14px
                margin-top: 0
                padding: 0
                color: #777
       
    .gk_article__aside-latest:last-child
        border-bottom: none
.gk_article__aside_latest-date
    font-size: 11px!important
    color: #555
    i
        margin-right: 5px